.wrap {
    width: 100%;
    height: 100%;
}

.contents {
    width: 100%;
    height: 100vh;
    background: url('/img/mainImgcar.jpg') center center;
}

.wrapbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
}

.mainImg {
    width: 40rem;
    height: 30rem;
    margin: 0;
}

.wrapbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secbox {
    display: flex;
    width: 100%;
    height: 40rem;
    margin: 15rem auto 0;
}

.mainimg {
    width: 100%;
    height: 40rem;
}

.carimg {
    width: 40rem;
    height: 30rem;
    box-shadow: 500px 100px 0 0 #707070;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    padding: 2rem;
    color: #fff;
}

.flexcontents {
    display: flex;
    justify-content: space-around;
    margin: 15rem auto 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30rem;
}

.flexicon {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 0;
}

.fleximg {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}