.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 2rem;
}

.loginbox {
    width: 50rem;
    height: 30rem;
    display: flex;
    box-shadow: 12px 12px 10px #a7a7a7;
}

.textbox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(blue, #4a4aff, #8b8bff);
    color: #fff;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 70% 130%);
}

.inputbox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.addaccount {
    width: 16rem;
    height: 3rem;
    background-color: #27278c;
    text-align: center;
    color: #fff;
    line-height: 3;
    border-radius: 15px;
    margin-top: 3rem;
    cursor: pointer;
}