.sec {
    width: 100%;
    height: 40rem;
    margin-top: 30rem;
}

.box {
    width: 90%;
    height: 40rem;
    background-color: #a7a7a7;
}

.text {
    width: 50%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text h3 {
    color: #fff;
    font-size: 3rem;
}

.text p {
    color: #fff;
    font-size: 1rem;
}