.foot {
    width: 100%;
    height: 40rem;
    background-color: #a7a7a7;
    margin-top: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.foot>p {
    color: #fff;
}

.maintext h3 {
    color: #fff;
    font-size: 3rem;
}

.contentsbox {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.contentsbox h4 {
    color: #fff;
    font-size: 2rem;
}

.contentsbox ul li a {
    color: #fff;
    font-size: 2rem;
}

.contentsbox ul li a:hover {
    text-decoration: underline;
}