.footerwrap {
    width: 100%;
    height: 30rem;
    background-color: #737373;
    margin: 15rem auto 0;
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: #fff;
}

.listflex {
    display: flex;
    justify-content: space-around;
}

.lis {
    color: #fff;
    margin: 1rem 0 0 0;
}